.m-t-0 {
  margin-top: 0 !important;
}
.p-t-0 {
  padding-top: 0 !important;
}
.m-b-0 {
  margin-bottom: 0 !important;
}
.p-b-0 {
  padding-bottom: 0 !important;
}
.m-l-0 {
  margin-left: 0 !important;
}
.p-l-0 {
  padding-left: 0 !important;
}
.m-r-0 {
  margin-right: 0 !important;
}
.p-r-0 {
  padding-right: 0 !important;
}
.m-0 {
  margin: 0 !important;
}
.p-0 {
  padding: 0 !important;
}
.m-t-0_25rem {
  margin-top: 0.25rem !important;
}
.p-t-0_25rem {
  padding-top: 0.25rem !important;
}
.m-b-0_25rem {
  margin-bottom: 0.25rem !important;
}
.p-b-0_25rem {
  padding-bottom: 0.25rem !important;
}
.m-l-0_25rem {
  margin-left: 0.25rem !important;
}
.p-l-0_25rem {
  padding-left: 0.25rem !important;
}
.m-r-0_25rem {
  margin-right: 0.25rem !important;
}
.p-r-0_25rem {
  padding-right: 0.25rem !important;
}
.m-0_25rem {
  margin: 0.25rem !important;
}
.p-0_25rem {
  padding: 0.25rem !important;
}
.m-t-0_5rem {
  margin-top: 0.5rem !important;
}
.p-t-0_5rem {
  padding-top: 0.5rem !important;
}
.m-b-0_5rem {
  margin-bottom: 0.5rem !important;
}
.p-b-0_5rem {
  padding-bottom: 0.5rem !important;
}
.m-l-0_5rem {
  margin-left: 0.5rem !important;
}
.p-l-0_5rem {
  padding-left: 0.5rem !important;
}
.m-r-0_5rem {
  margin-right: 0.5rem !important;
}
.p-r-0_5rem {
  padding-right: 0.5rem !important;
}
.m-0_5rem {
  margin: 0.5rem !important;
}
.p-0_5rem {
  padding: 0.5rem !important;
}
.m-t-0_75rem {
  margin-top: 0.75rem !important;
}
.p-t-0_75rem {
  padding-top: 0.75rem !important;
}
.m-b-0_75rem {
  margin-bottom: 0.75rem !important;
}
.p-b-0_75rem {
  padding-bottom: 0.75rem !important;
}
.m-l-0_75rem {
  margin-left: 0.75rem !important;
}
.p-l-0_75rem {
  padding-left: 0.75rem !important;
}
.m-r-0_75rem {
  margin-right: 0.75rem !important;
}
.p-r-0_75rem {
  padding-right: 0.75rem !important;
}
.m-0_75rem {
  margin: 0.75rem !important;
}
.p-0_75rem {
  padding: 0.75rem !important;
}
.m-t-1rem {
  margin-top: 1rem !important;
}
.p-t-1rem {
  padding-top: 1rem !important;
}
.m-b-1rem {
  margin-bottom: 1rem !important;
}
.p-b-1rem {
  padding-bottom: 1rem !important;
}
.m-l-1rem {
  margin-left: 1rem !important;
}
.p-l-1rem {
  padding-left: 1rem !important;
}
.m-r-1rem {
  margin-right: 1rem !important;
}
.p-r-1rem {
  padding-right: 1rem !important;
}
.m-1rem {
  margin: 1rem !important;
}
.p-1rem {
  padding: 1rem !important;
}
.m-t-1_25rem {
  margin-top: 1.25rem !important;
}
.p-t-1_25rem {
  padding-top: 1.25rem !important;
}
.m-b-1_25rem {
  margin-bottom: 1.25rem !important;
}
.p-b-1_25rem {
  padding-bottom: 1.25rem !important;
}
.m-l-1_25rem {
  margin-left: 1.25rem !important;
}
.p-l-1_25rem {
  padding-left: 1.25rem !important;
}
.m-r-1_25rem {
  margin-right: 1.25rem !important;
}
.p-r-1_25rem {
  padding-right: 1.25rem !important;
}
.m-1_25rem {
  margin: 1.25rem !important;
}
.p-1_25rem {
  padding: 1.25rem !important;
}
.m-t-1_5rem {
  margin-top: 1.5rem !important;
}
.p-t-1_5rem {
  padding-top: 1.5rem !important;
}
.m-b-1_5rem {
  margin-bottom: 1.5rem !important;
}
.p-b-1_5rem {
  padding-bottom: 1.5rem !important;
}
.m-l-1_5rem {
  margin-left: 1.5rem !important;
}
.p-l-1_5rem {
  padding-left: 1.5rem !important;
}
.m-r-1_5rem {
  margin-right: 1.5rem !important;
}
.p-r-1_5rem {
  padding-right: 1.5rem !important;
}
.m-1_5rem {
  margin: 1.5rem !important;
}
.p-1_5rem {
  padding: 1.5rem !important;
}
.m-t-1_75rem {
  margin-top: 1.75rem !important;
}
.p-t-1_75rem {
  padding-top: 1.75rem !important;
}
.m-b-1_75rem {
  margin-bottom: 1.75rem !important;
}
.p-b-1_75rem {
  padding-bottom: 1.75rem !important;
}
.m-l-1_75rem {
  margin-left: 1.75rem !important;
}
.p-l-1_75rem {
  padding-left: 1.75rem !important;
}
.m-r-1_75rem {
  margin-right: 1.75rem !important;
}
.p-r-1_75rem {
  padding-right: 1.75rem !important;
}
.m-1_75rem {
  margin: 1.75rem !important;
}
.p-1_75rem {
  padding: 1.75rem !important;
}
.m-t-2rem {
  margin-top: 2rem !important;
}
.p-t-2rem {
  padding-top: 2rem !important;
}
.m-b-2rem {
  margin-bottom: 2rem !important;
}
.p-b-2rem {
  padding-bottom: 2rem !important;
}
.m-l-2rem {
  margin-left: 2rem !important;
}
.p-l-2rem {
  padding-left: 2rem !important;
}
.m-r-2rem {
  margin-right: 2rem !important;
}
.p-r-2rem {
  padding-right: 2rem !important;
}
.m-2rem {
  margin: 2rem !important;
}
.p-2rem {
  padding: 2rem !important;
}
.m-t-2_25rem {
  margin-top: 2.25rem !important;
}
.p-t-2_25rem {
  padding-top: 2.25rem !important;
}
.m-b-2_25rem {
  margin-bottom: 2.25rem !important;
}
.p-b-2_25rem {
  padding-bottom: 2.25rem !important;
}
.m-l-2_25rem {
  margin-left: 2.25rem !important;
}
.p-l-2_25rem {
  padding-left: 2.25rem !important;
}
.m-r-2_25rem {
  margin-right: 2.25rem !important;
}
.p-r-2_25rem {
  padding-right: 2.25rem !important;
}
.m-2_25rem {
  margin: 2.25rem !important;
}
.p-2_25rem {
  padding: 2.25rem !important;
}
